{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': 'Titulo'} }) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'id': 'tinymce'} }) }}
            {{ form_errors(form.content) }}
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        {{ form_widget(form) }}
        {{ form(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src={{ asset('assets/tinymce/tinymce.min.js') }}></script>
    <script>
        tinymce.init({
            selector: '#note_content',
            height: 350,
            menubar: false,
            plugins: [],
            toolbar: 'styleselect | bold italic | bullist numlist',
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css']
        });
    </script>
{% endblock %}